In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [20]:
airbnb = pd.read_csv('AB_NYC_2019.csv')

In [34]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38821 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38821 non-null  int64
 1   name                            38821 non-null  object
 2   host_id                         38821 non-null  int64
 3   host_name                       38821 non-null  object
 4   neighbourhood_group             38821 non-null  object
 5   neighbourhood                   38821 non-null  object
 6   latitude                        38821 non-null  float64
 7   longitude                       38821 non-null  float64
 8   room_type                       38821 non-null  object
 9   price                           38821 non-null  int64
 10  minimum_nights                  38821 non-null  int64
 11  number_of_reviews               38821 non-null  int64
 12  last_review                     38821 non-null  datetime64[ns]
 13  reviews_per_month               38821 non-null  float64
 14  calculated_host_listings_count  38821 non-null  int64
 15  availability_365                38821 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 5.0+ MB

In [35]:
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

In [33]:
airbnb.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [24]:
airbnb = airbnb.dropna(subset=['name', 'host_name'])

In [25]:
airbnb['last_review'] = pd.to_datetime(airbnb['last_review'])

In [27]:
airbnb['reviews_per_month'] = airbnb['reviews_per_month'].fillna(airbnb['reviews_per_month'].mode()[0])

In [32]:
airbnb = airbnb.dropna(subset=['last_review'])

In [36]:
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

In [57]:
#airbnb['room_type'].value_counts()

In [43]:
#groups = airbnb[['room_type', 'price', 'minimum_nights']]

In [44]:
#display(groups)

In [62]:
airbnb.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,3.882100e+04,3.882100e+04,38821.000000,38821.000000,38821.000000,38821.000000,38821.000000,38821,38821.000000,38821.000000,38821.000000
mean,1.810081e+07,6.424582e+07,40.728129,-73.951149,142.332526,5.869220,29.290255,2018-10-04 07:23:47.072975872,1.373229,5.166611,114.886299
min,2.539000e+03,2.438000e+03,40.506410,-74.244420,0.000000,1.000000,1.000000,2011-03-28 00:00:00,0.010000,1.000000,0.000000
25%,8.721444e+06,7.029525e+06,40.688640,-73.982460,69.000000,1.000000,3.000000,2018-07-09 00:00:00,0.190000,1.000000,0.000000
50%,1.887286e+07,2.837092e+07,40.721710,-73.954810,101.000000,2.000000,9.000000,2019-05-19 00:00:00,0.720000,1.000000,55.000000
75%,2.756746e+07,1.018905e+08,40.762990,-73.935020,170.000000,4.000000,33.000000,2019-06-23 00:00:00,2.020000,2.000000,229.000000
max,3.645581e+07,2.738417e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,2019-07-08 00:00:00,58.500000,327.000000,365.000000
std,1.069372e+07,7.589752e+07,0.054991,0.046693,196.994756,17.389026,48.182900,NaN,1.680328,26.302954,129.529950

In [58]:
airbnb.shape

(38821, 16)

### Detecting Outliers

In [45]:
min_threshold, max_threshold = airbnb['price'].quantile([0.01, 0.999])
min_threshold, max_threshold

(30.0, 2000.0)

In [47]:
airbnb[airbnb['price'] < min_threshold]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
957,375249,Enjoy Staten Island Hospitality,1887999,Rimma & Jim,Staten Island,Graniteville,40.62109,-74.16534,Private room,20,3,80,2019-05-26,0.92,1,226
2675,1428154,"Central, Peaceful Semi-Private Room",5912572,Tangier,Brooklyn,Flatbush,40.63899,-73.95177,Shared room,29,2,5,2014-10-20,0.07,1,321
3020,1767037,Small Cozy Room Wifi & AC near JFK,9284163,Antonio,Queens,Woodhaven,40.68968,-73.85219,Private room,29,2,386,2019-06-19,5.53,3,50
3918,2431607,"Bright, Airy Room Share for 2",4973668,Gloria,Brooklyn,Bedford-Stuyvesant,40.68642,-73.93440,Shared room,25,5,76,2019-06-06,1.22,3,258
4647,3258197,Large 1br Duplex in Heart of Upper East Side,16477306,Jeff,Manhattan,Upper East Side,40.76866,-73.95553,Entire home/apt,16,2,21,2019-06-30,1.69,1,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46894,35481807,Male Shared room 1 bed in the bedroom long term,179478172,Elizabeth,Brooklyn,Flatbush,40.65022,-73.96281,Shared room,25,4,1,2019-06-26,1.00,3,334
47130,35606165,Luggage storage only No Beds Available.,267872829,Sonya,Brooklyn,Fort Hamilton,40.61819,-74.03296,Shared room,20,1,1,2019-06-27,1.00,1,353
47218,35642891,Beautiful room in Bushwick,268138154,Julio,Brooklyn,Bushwick,40.69640,-73.91898,Private room,10,1,2,2019-06-18,2.00,1,0
48126,36101190,Flushing Hideout,30839692,Stavros,Queens,Flushing,40.75406,-73.80613,Shared room,25,1,1,2019-06-30,1.00,3,86
48486,36280646,"Cable and wfi, L/G included.",272872092,Chris,Queens,Forest Hills,40.73657,-73.85088,Entire home/apt,16,9,1,2019-07-07,1.00,1,322

In [49]:
airbnb[airbnb['price'] > max_threshold]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2018,893413,Architecturally Stunning Former Synagogue!,4751930,Martin,Manhattan,East Village,40.72668,-73.98179,Entire home/apt,2500,30,15,2019-07-01,0.26,1,89
2698,1448703,Beautiful 1 Bedroom in Nolita/Soho,213266,Jessica,Manhattan,Nolita,40.72193,-73.99379,Entire home/apt,5000,1,2,2013-09-28,0.03,1,365
3537,2110145,UWS 1BR w/backyard + block from CP,2151325,Jay And Liz,Manhattan,Upper West Side,40.77782,-73.97848,Entire home/apt,6000,14,17,2015-02-17,0.27,1,359
4127,2659183,"Luxury 5BR Townhouse, Upper East",5907325,Isabel,Manhattan,Upper East Side,40.76791,-73.96509,Entire home/apt,2300,3,32,2018-09-23,0.53,1,139
4345,2919330,NearWilliamsburg bridge 11211 BK,14908606,Bianca,Brooklyn,Bedford-Stuyvesant,40.69572,-73.95731,Private room,5000,6,10,2016-01-02,0.16,1,363
4376,2952861,Photography Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69127,-73.96563,Entire home/apt,4500,1,5,2018-12-29,0.09,11,365
4377,2953058,Film Location,1177497,Jessica,Brooklyn,Clinton Hill,40.69137,-73.96723,Entire home/apt,8000,1,1,2016-09-15,0.03,11,365
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.79264,-73.93898,Entire home/apt,9999,5,1,2015-01-02,0.02,1,0
6620,4777903,SOHO GALLERY,1581845,Indi,Manhattan,Tribeca,40.71883,-74.00357,Entire home/apt,2400,1,2,2016-10-19,0.05,1,365
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.76810,-73.91651,Private room,10000,100,2,2016-02-13,0.04,1,0
12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83
17665,13882394,VIP Duplex Townhouse with Private Garden!!!,49186997,Joseph,Manhattan,Greenwich Village,40.73305,-73.99373,Entire home/apt,3800,30,2,2017-01-27,0.06,1,180
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.73260,-73.95739,Entire home/apt,10000,5,5,2017-07-27,0.16,1,0
18356,14408114,Unparalleled Luxury in Midtown Manhattan,836168,Henry,Manhattan,Midtown,40.76455,-73.97959,Entire home/apt,2500,30,4,2017-04-17,0.13,11,364
18632,14730708,Breathtaking City Views 3 Bed Apt. in Lincoln Sq!,836168,Henry,Manhattan,Upper West Side,40.77910,-73.98182,Entire home/apt,3000,30,8,2016-12-10,0.24,11,365
20551,16348791,Spectacular Townhouse 4Floor 5BD West Village NYC,101132948,Maud,Manhattan,West Village,40.73726,-74.00085,Entire home/apt,2590,1,8,2018-12-27,0.41,1,361
21955,17666300,Ultimate 50th Floor Downtown Penthouse - 4000...,120250860,Diana,Manhattan,SoHo,40.72318,-74.00223,Entire home/apt,2250,2,21,2019-07-01,0.74,2,343
22407,18094418,4000 SqFt Luxury Penthouse - Downtown NYC,120250860,Diana,Manhattan,SoHo,40.72207,-74.00232,Entire home/apt,2250,2,20,2019-06-15,0.82,2,341
24286,19554980,A Cozy Manhattan Sanctuary,97796457,Logan,Manhattan,Upper West Side,40.80160,-73.96409,Entire home/apt,2500,40,17,2018-03-26,0.91,1,0
25825,20654227,Fulton 2,100069033,Sarah-2,Brooklyn,Cypress Hills,40.68185,-73.88128,Entire home/apt,5000,2,4,2018-01-03,0.18,1,0
25901,20692563,Greenwich Village Townhome with Private Garden!,147814925,Lloyd,Manhattan,Greenwich Village,40.73300,-73.99413,Entire home/apt,3900,30,7,2018-03-13,0.32,1,180
26739,21238053,Broadway 1,153497815,Sarah-B,Brooklyn,Bedford-Stuyvesant,40.68742,-73.91957,Entire home/apt,5000,2,8,2017-12-09,0.38,1,0
27590,21701058,Luxury 8 Bedroom Townhouse in Midtown-Sleeps 16,69852641,Lisa,Manhattan,Hell's Kitchen,40.76481,-73.98845,Entire home/apt,2200,2,6,2019-03-02,0.35,3,217
28858,22263855,SPECTACULAR SOHO GREAT ROOM LOFT 6000sq feet,6145729,Stephanie,Manhattan,SoHo,40.72605,-74.00572,Entire home/apt,3000,7,1,2019-06-30,1.00,1,325
30268,23377410,Beautiful/Spacious 1 bed luxury flat-TriBeCa/Soho,18128455,Rum,Manhattan,Tribeca,40.72197,-74.00633,Entire home/apt,8500,30,2,2018-09-18,0.18,1,251
30824,23860219,Designer's Beautiful 2BR Apartment in NOLITA/SOHO,152228055,Ilo And Richard,Manhattan,Nolita,40.72233,-73.99574,Entire home/apt,2990,2,69,2019-06-29,4.36,1,237
32041,25018204,"Paradise Garden, Spa, Steam & Massage Table #1...",172611460,Rasmus,Manhattan,Harlem,40.82263,-73.95181,Entire home/apt,2500,3,14,2019-06-24,1.38,2,150
38000,30035166,4-Floor Unique Event Space 50P Cap. - #10299B,172611460,Rasmus,Manhattan,Harlem,40.82511,-73.94961,Entire home/apt,5000,1,2,2019-02-23,0.38,2,150
38223,30146411,Luxury West Village private Townhouse 5B Garden,101080203,Luxury Property,Manhattan,Gramercy,40.73652,-73.98618,Entire home/apt,3000,1,1,2018-12-16,0.15,1,365
42542,33029434,West 84th Street by (Hidden by Airbnb),156158778,Sally,Manhattan,Upper West Side,40.78545,-73.97123,Entire home/apt,3613,1,1,2019-06-15,1.00,12,158
42680,33133321,Majestic Mansion LifeStyle :),74373729,Shah,Queens,Bayside,40.77811,-73.77069,Entire home/apt,2600,6,3,2019-05-30,1.73,1,362
43009,33397385,Midtown Manhattan great location (Gramacy park),16105313,Debra,Manhattan,Midtown,40.74482,-73.98367,Entire home/apt,5100,30,1,2019-06-22,1.00,2,343
45185,34592851,Beautiful Brooklyn Brownstone Production Space,19867664,Cheryl,Brooklyn,Crown Heights,40.67015,-73.94782,Entire home/apt,2500,1,1,2019-06-08,0.94,2,168
45666,34895693,Gem of east Flatbush,262534951,Sandra,Brooklyn,East Flatbush,40.65724,-73.92450,Private room,7500,1,8,2019-07-07,6.15,2,179
46533,35297214,Amazing Chelsea 4BR Loft!,256649546,Viberlyn,Manhattan,Chelsea,40.73999,-73.99806,Entire home/apt,2995,30,1,2019-06-24,1.00,1,214

In [55]:
df = airbnb[(airbnb['price'] < max_threshold) & (airbnb['price'] > min_threshold)]

In [60]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

In [61]:
df.shape

(38262, 16)

In [66]:
airbnb['price'].describe()

count    38821.000000
mean       142.332526
std        196.994756
min          0.000000
25%         69.000000
50%        101.000000
75%        170.000000
max      10000.000000
Name: price, dtype: float64

In [65]:
df['price'].describe()

count    38262.000000
mean       139.097355
std        118.162195
min         31.000000
25%         70.000000
50%        105.000000
75%        170.000000
max       1999.000000
Name: price, dtype: float64